- content_for :title do
	Xsanda - My Projects

:maruku
	### Xsanda’s Projects
	* [Dungeon](/projects/dungeon/)<span class="grey"> — a game of escape, written in python and run at the command line.</span>
	* [styleCSS](/projects/styleCSS/)<span class="grey"> — a self-built client-side CSS preprocessor written in JavaScript.</span>
	* [jsCSS](/projects/jsCSS/)<span class="grey"> — an API for dynamically adding CSS rules by selector.</span>