- content_for :title do
	Xsanda - My Projects

:maruku
	### Xsanda’s Projects
	* [AirGestures](https://teamlimoncello.github.io/ICHack18/)<span class="grey"> — an app created for the ICHack 2018 as part of Team Limoncello. It allows a user to control their computer using gestures in the air.</span>
	* [Κρυπτοδος](/projects/krypto/)<span class="grey"> — an educational maze game written in JavaScript using HTML canvas.</span>
	* [Dungeon](/projects/dungeon/)<span class="grey"> — a game of escape, written in Python and run at the command line.</span>
	* [styleCSS](/projects/styleCSS/)<span class="grey"> — a self-built client-side CSS preprocessor written in JavaScript.</span>
	* [jsCSS](/projects/jsCSS/)<span class="grey"> — an API for dynamically adding CSS rules by selector.</span>
