- content_for :title do
	Xsanda

%img.me{src: "me.jpg", alt: "Me"}
:maruku
	# Hello! I'm Xsanda
	
	I’m a student and a web developer. There’s not much to see here, but I should add more soon.
	
	This is where I post my work and creations. Enjoy!
	
	I’d love it if you were to mention it if you use these tools.
	
	* Email me: [xsanda@xsanda.me](mailto:xsanda@xsanda.me)
	* Twitter: [@xsanda](//twitter.xsanda.me)
	* GitHub: [xsanda](//github.xsanda.me)
	* Instagram: [@xsanda](//instagram.xsanda.me)
	* About.me: [Charlie Harding](//about.xsanda.me)
	
	### My Projects
	
	* [styleCSS](/projects/styleCSS/)
	* [jsCSS](/projects/jsCSS/)
	* [More…](/projects/)