- content_for :title do
	Xsanda

:maruku
	# Hello! I'm Xsanda
	
	I’m a student and a web developer. There’s not much to see here, but I should add more soon.
	
	This is where I post my work and creations. Enjoy!
	
	I’d love it if you were to mention it if you use these tools.
	
	* Email me: [xsanda@me.com](mailto:xsanda@me.com)
	* Twitter: [@xsanda](https://twitter.com/xsanda)
	* GitHub: [xsanda](https://github.com/xsanda)
	* Instagram: [@xsanda](https://instagram.com/xsanda)
	* About.me: [Charlie Harding](//about.me/charlieharding)
	
	### My Projects

	* [AirGestures](https://teamlimoncello.github.io/ICHack18/)<span class="grey"> — an app created for the ICHack 2018 as part of Team Limoncello. It allows a user to control their computer using gestures in the air.</span>
	* [Κρυπτοδος](/projects/krypto/)<span class="grey"> — an educational maze game written in JavaScript using HTML canvas.</span>
	* [Dungeon](/projects/dungeon/)<span class="grey"> — a game of escape, written in Python and run at the command line.</span>
	* [styleCSS](/projects/styleCSS/)<span class="grey"> — a self-built client-side CSS preprocessor written in JavaScript.</span>
	* [jsCSS](/projects/jsCSS/)<span class="grey"> — an API for dynamically adding CSS rules by selector.</span>
	* [See all…](/projects/)
	
	### My Designs
	
	* [Asian Highway Network](/designs/ah/)<span class="grey"> — a transit-style map of the Asian Highway Network, inspired by Cameron Booth’s E-Road map. January 2017</span>
	* [Great Western Railway Network Map](/designs/gwr/)<span class="grey"> — a redesign of the newly rebranded Great Western Railway Network Map. Summer 2016</span>
	* [See all…](/designs/)
