- content_for :title do
  Charlie Harding

:maruku
  # Hello! I'm Charlie Harding.
  
  I’m a software engineer, based in Munich, Germany.
  I graduated from the University of Bristol, and currently work as a software engineer for [QAware](https://www.qaware.de/).
  
  Below are some of my work and creations. For on-going projects, check out my GitHub.
  
  * Email me: [xsanda@me.com](mailto:xsanda@me.com)
  * GitHub: [xsanda](https://github.com/xsanda)
  * Twitter: [@xsanda](https://twitter.com/xsanda)
  * Instagram: [@xsanda](https://instagram.com/xsanda)
  * Strava: [Charlie Harding](https://www.strava.com/athletes/xsanda)
  
%h3 My Projects

= listing "projects" do
  %li
    %a{href: "/projects/"} See all…

%h3 My Designs

= listing "designs" do
  %li
    %a{href: "/designs/"} See all…
