- content_for :title do
	Dungeon by Xsanda

:markdown
	# Dungeon by Xsanda

	You `()`{.cyan} are trapped in a dungeon with many levels. You can advance each level by collecting all the available coins `$1`{.yellow} from each level. But beware, there are traps `><`{.red} waiting to kill you, and monsters `M!`{.red} eager to eat you. There are even portals `>1`{.magenta} to whisk you away to another part of the dungeon. As the game gets harder, you can also earn lives `+1`{.green}, and use them to overcome the threats of the dungeons.

	The dungeon is a loop, so running away is not an option. Travel too far in one direction, and you’ll just end up back where you started. Sometimes, the dungeon is so large that it can’t all be seen at once. Just walk towards the edge of your vision, and more will appear.

	The controls: `↑←↓→` to move, `WASD` to pan the map. Press `^C` or `Esc` at any time to exit.

	The game runs in `python3`, and requires a Unix-based operating system (Mac, Linux).

	This is my first attempt at a command-line game, and my first time with Python, so feel free to suggest any improvements.

	To install, download the installer to where you would like to run it, then open it with `python3`.

	### Download

	* [Installer](dungeon.py)

:sass
	.cyan
		color: cyan

	.red
		color: red

	.yellow
		color: darkkhaki

	.magenta
		color: magenta
