- content_for :title do
	Xsanda - Great Western Railway Network Map

:maruku
	### Design Project: Great Western Railway Network Map

%a{href: "GWR_1.2.png"}
	%img.map{src: "GWR_1.2.png"}

:maruku
	Over the summer of 2016, my local rail franchise underwent a significant rebranding from First Great Western to Great Western Railway, the former railway company that built and operated the region’s railway pre-nationalisation. While the business did apply a lot of green paint to its rolling stock, it did not however put much time into redesigning its route map, which still to this date remains very similar to the old corporate identity of First Great Western.

	I saw the newly released map, and set a project for myself to redesign it. Using Adobe Illustrator, I tried to make a smoother, more fluid map than the angular serif map currently available from [the GWR website](https://web.archive.org/web/20160308173636/https://www.gwr.com/~/media/gwr/pdfs/maps/gwr-network-map.pdf?la=en).

	Update: version 1.2 of the map, as attached, was updated in Summer 2018, based on [the latest route map available on the GWR website](https://web.archive.org/web/20180706223024/https://www.gwr.com/~/media/gwr/pdfs/maps/gwr-network-map.pdf?la=en). My original version is available [here](GWR_1.1.png).
