- content_for :title do
  Charlie Harding

:markdown
  # Hello! I'm Charlie Harding

  I’m a software engineer for [QAware](https://www.qaware.de/), based in Munich, Germany.
  I studied Computer Science at the University of Bristol.

  My main technical interests are in frontend development and digital mapping.
  In my free time, I like spending time in the mountains: hiking, running, road cycling and skiing.

  Below are some of my work and creations. For on-going projects, check out my GitHub.

  * GitHub: [c-harding](https://github.com/c-harding)
  * Instagram: [@xsanda](https://instagram.com/xsanda)
  * Strava: [Charlie Harding](https://www.strava.com/athletes/xsanda)
  * Email me: [xsanda@me.com](mailto:xsanda@me.com)

%h3 My Projects

= listing "projects"

%h3 My Organisations

= listing "organisations"

%h3 My Designs

= listing "designs"
